* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  background-color: #1191e6;
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}